<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <form [formGroup]="alumno" (ngSubmit)="onSubmit()"></form>
            <label for="matricula" class="form-label">Matricula</label>
            <input type="text" placeholder="Matricula" id="matricula" name="matricula" class="form-control" formControlName="matricula"/>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" placeholder="Nombre" id="nombre" name="nombre" class="form-control" formControlName="nombre"/>
        </div>
        <div class="mb-3">
            <label for="amaterno" class="form-label">Amaterno</label>
            <input type="text" placeholder="Amaterno" id="amaterno" name="amaterno" class="form-control" formControlName="amaterno"/>
        </div>
        <div class="mb-3">
            <label for="apaterno" class="form-label">Apaterno</label>
            <input type="text" placeholder="Apaterno" id="apaterno" name="apaterno" class="form-control" formControlName="apaterno"/>
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" placeholder="Correo" id="correo" name="correo" class="form-control" formControlName="correo"/>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
    </div>
</div>